<div class="space-y-6 bg-[#282829] rounded-xl overflow-hidden">
    <iframe 
        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1653.2154989742492!2d-5.007974011498009!3d34.032813716085805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sma!4v1726870118345!5m2!1sfr!2sma" 
        width="100%" 
        height="450" 
        style="border:0;" 
        allowfullscreen 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
    </iframe>
</div>

<h2 class="text-3xl font-bold mt-8 text-white">My Skills</h2>

    <div class="py-8 lg:py-8 px-8 ">
        
        <form action="#" class="space-y-8">
            <div class="flex justify-between gap-4">
                <input type="text" id="full-name" class="shadow-sm border border-gray-600 text-white text-sm rounded-lg w-full p-4 bg-[#1E1E1F] outline-none transition duration-300 focus:bg-transparent focus:outline-yellow-500" placeholder="Full name" required>
                <input type="email" id="email" class="shadow-sm border border-gray-600 text-white text-sm rounded-lg w-full p-4 bg-[#1E1E1F] outline-none transition duration-300 focus:bg-transparent focus:outline-yellow-500" placeholder="Email address" required>
            </div>
            
            <div class="sm:col-span-2">
                <textarea id="message" rows="10" class="p-4 w-full text-sm text-white bg-[#1E1E1F] outline-none rounded-lg border border-gray-600 transition duration-300 focus:bg-transparent focus:outline-yellow-500" placeholder="Leave a comment..."></textarea>
            </div>
            
            <button type="submit" class="py-3 px-5 text-sm font-medium text-center text-yellow-500 border border-gray-600 rounded-lg bg-transparent">Send message</button>
        </form>
        
    </div>
