
<div class="prose prose-lg mb-12">
  <p class="mb-4">
    I am a passionate Full Stack Developer with extensive experience in building
    modern web applications. My journey in software development started with a
    deep curiosity about how things work on the web, and that curiosity has
    evolved into a professional career where I help businesses create impactful
    digital solutions.
  </p>
  <p>
    With a strong foundation in both frontend and backend technologies, I
    specialize in creating seamless, user-friendly applications that solve
    real-world problems. I'm constantly learning and staying up-to-date with
    the latest technologies and best practices in web development.
  </p>
</div>
   <section id="skills" class="py-32  text-white">
    <div class="container mx-auto px-4">
      <h2
        class="text-5xl font-bold text-center mb-20 bg-gradient-to-r from-blue-400 to-purple-500 text-transparent bg-clip-text"
      >
      What I'm Doing
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
        <app-feature-card
          *ngFor="let skill of skillCards"
          [icon]="skill.icon"
          [title]="skill.title"
          [skills]="skill.skills"
        ></app-feature-card>
      </div>
    </div>
  </section>
 
  