<div class="language-selector relative">
  <button 
    class=" text-white border border-blue-400 rounded-md p-2 flex items-center justify-between w-28"
    (click)="toggleDropdown()"
  >
    <img 
      [src]="getFlag(currentLanguage)" 
      alt="Flag" 
      class="w-6 h-6 mr-2" 
    />
    {{ getLanguageName(currentLanguage) }}
    
  </button>
  <ul 
    *ngIf="dropdownOpen" 
    class="absolute  text-white border border-blue-400 rounded-md mt-4 w-28"
  >
    <li 
      *ngFor="let lang of languages" 
      (click)="onLanguageChange(lang)" 
      class="p-2 flex items-center hover:bg-gray-700 cursor-pointer"
    >
      <img 
        [src]="getFlag(lang)" 
        alt="Flag" 
        class="w-6 h-6 mr-2" 
      />
      {{ getLanguageName(lang) }}
    </li>
  </ul>
</div>
