<aside class="w-[23rem] bg-gray-900 text-white h-screen fixed left-0 top-0 overflow-y-auto sm:block"[class.hidden]="isSidebarHidden">
  <div class="flex flex-col items-center p-8">
    <img
      [src]="contact.image"
      alt={contactInfo.name}
      class="w-40 h-40 rounded-full object-cover border-4 border-blue-500 mb-4"
    />
    <h2 class="text-2xl font-bold mb-1">{{contact.name}}</h2>
    <p class="text-blue-400 mb-6">{{contact.profession}}</p>

    <div class="w-full space-y-4">
      <div class="flex items-center gap-3">
        <i class="fas fa-envelope text-blue-400 p-2 sm:p-3 bg-[#282829] rounded-xl text-sm sm:text-base border-2 border-blue-500/50 hover:border-blue-400 hover:text-blue-300 transition-colors duration-300"></i>
        <span class="text-sm">{{contact.email}}</span>
      </div>
      <div class="flex items-center gap-3">
        <i class="fas fa-phone text-blue-400 p-2 sm:p-3 bg-[#282829] rounded-xl text-sm sm:text-base border-2 border-blue-500/50 hover:border-blue-400 hover:text-blue-300 transition-colors duration-300"></i>
        <span class="text-sm">{{contact.phone}}</span>
      </div>
      <div class="flex items-center gap-3">
        <i class="fa-solid fa-calendar-days text-blue-400 p-2 sm:p-3 bg-[#282829] rounded-xl text-sm sm:text-base border-2 border-blue-500/50 hover:border-blue-400 hover:text-blue-300 transition-colors duration-300"></i>
       
        <span class="text-sm">{{contact.birthday}}</span>
      </div>
      <div class="flex items-center gap-3">
        <i class="fas fa-map-marker-alt text-blue-400 p-2 sm:p-3 bg-[#282829] rounded-xl text-sm sm:text-base border-2 border-blue-500/50 hover:border-blue-400 hover:text-blue-300 transition-colors duration-300"></i>
        <span class="text-sm">{{contact.location}}</span>
      </div>
    </div>

    <div class="flex gap-4 mt-16">
      <a href="#" target="_blank" rel="noopener noreferrer" class="w-12 h-12 flex items-center justify-center rounded-full border-2 border-blue-500/50 text-blue-400 hover:border-blue-400 hover:text-blue-300 transition-colors duration-300">
        
        <i class="fa-brands fa-github text-lg sm:text-xl"></i>
      </a>
      <a href="#" target="_blank" rel="noopener noreferrer" class="w-12 h-12 flex items-center justify-center rounded-full border-2 border-blue-500/50 text-blue-400 hover:border-blue-400 hover:text-blue-300 transition-colors duration-300">
        <i class="fab fa-linkedin-in text-lg sm:text-xl"></i>
      </a>
      <a href="#" target="_blank" rel="noopener noreferrer" class="w-12 h-12 flex items-center justify-center rounded-full border-2 border-blue-500/50 text-blue-400 hover:border-blue-400 hover:text-blue-300 transition-colors duration-300">
       
        <i class="fa-brands fa-x-twitter text-lg sm:text-xl"></i>
      </a>
    </div>
  </div>
</aside>